/* All */

/* Sticky Footer */
html{
  position: relative;
  min-height: 100%;
}
body{
  position: static;
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  background-color: #f5f5f5;
}